In [2]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("shivavashishtha/2022-ipl-auction-dataset")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.12)
Downloading from https://www.kaggle.com/api/v1/datasets/download/shivavashishtha/2022-ipl-auction-dataset?dataset_version_number=2...

100%|██████████| 9.17k/9.17k [00:00<00:00, 2.97MB/s]

Extracting model files...
Path to dataset files: C:\Users\Sami\.cache\kagglehub\datasets\shivavashishtha\2022-ipl-auction-dataset\versions\2

In [3]:
import pandas as pd

In [5]:
df = pd.read_csv('E:\DSA\ipl_2022_dataset.csv')

In [6]:
df.head()

,Unnamed: 0,Player,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2021 Squad,Team
0,0,Rashid Khan,Draft Pick,BOWLER,15.0,1950.0,SRH,Gujarat Titans
1,1,Hardik Pandya,Draft Pick,ALL-ROUNDER,15.0,1950.0,MI,Gujarat Titans
2,2,Lockie Ferguson,2 Cr,BOWLER,10.0,1300.0,KKR,Gujarat Titans
3,3,Rahul Tewatia,40 Lakh,ALL-ROUNDER,9.0,1170.0,RR,Gujarat Titans
4,4,Shubman Gill,Draft Pick,BATTER,8.0,1040.0,KKR,Gujarat Titans